@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
.App {
  font-family: "Quando", serif;
  color: black;
}

.fixed{
  positin:sticky;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
.font{
  font-family: 'Overpass', sans-serif;
  color:black;
}